<div class="main-container">
    <app-header></app-header>

    <div class="product-detail-container">
        <mat-card class="product-card">
          <div class="product-image">
            <img [src]="currentProduct?.productImage" alt="{{currentProduct?.productName}}">
          </div>
          <div class="product-info">
            <h2>{{currentProduct?.productName}}</h2>
            <p>{{currentProduct?.productDescription}}</p>
          </div>
          <div class="product-meta">
            <h3>Prix : {{currentProduct?.productPrice | currency}}</h3>
            <p>Stock: {{currentProduct?.productStock}}</p>
            <button mat-raised-button color="primary">Ajouter au panier</button>
          </div>
        </mat-card>
      </div>

    <app-footer></app-footer>
</div>