<div class="main-container">
    <app-header></app-header>
  
    <div class="bodyPage">
      <mat-card class="cgu-card">
        <mat-card-header>
          <mat-card-title>Conditions Générales d'Utilisation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <section>
            <h2>1. Introduction</h2>
            <p>
              Bienvenue sur notre site. En accédant à ce site, vous acceptez les présentes Conditions Générales
              d'Utilisation. Veuillez les lire attentivement.
            </p>
          </section>
          <section>
            <h2>2. Accès au site</h2>
            <p>
              L'accès à notre site est gratuit, cependant, nous nous réservons le droit de restreindre l'accès à certaines
              parties ou fonctionnalités du site.
            </p>
          </section>
          <section>
            <h2>3. Propriété intellectuelle</h2>
            <p>
              Le contenu de ce site, y compris textes, images, logos, et autres éléments, est protégé par les lois sur la
              propriété intellectuelle.
            </p>
          </section>
          <section>
            <h2>4. Utilisation acceptable</h2>
            <p>
              Vous vous engagez à utiliser ce site de manière légale et respectueuse. Toute utilisation abusive, y compris
              le piratage ou la diffusion de contenu illégal, est strictement interdite.
            </p>
          </section>
          <section>
            <h2>5. Limitation de responsabilité</h2>
            <p>
              Nous déclinons toute responsabilité pour les dommages directs ou indirects résultant de l'utilisation de ce
              site.
            </p>
          </section>
          <section>
            <h2>6. Modifications des Conditions</h2>
            <p>
              Nous nous réservons le droit de modifier ces conditions à tout moment. Les modifications prendront effet dès
              leur publication sur le site.
            </p>
          </section>
          <section>
            <h2>7. Contact</h2>
            <p>
              Pour toute question concernant ces conditions, veuillez nous contacter via notre page de contact.
            </p>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  
    <app-footer></app-footer>
  </div>
  