html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bodyPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 16px;
}

.cgu-card {
  width: 100%;
  max-width: 800px;
  padding: 16px;
  box-sizing: border-box;
}

mat-card-header {
  text-align: center;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

mat-card-content h2 {
  font-size: 20px;
  margin-top: 20px;
}

mat-card-content p {
  font-size: 16px;
  margin-bottom: 16px;
}

app-footer {
  margin-top: auto;
}
